@import './../utils/colors';

* {
  padding: 0;
  margin: 0;
}
a {
  line-height: 0;
  text-decoration: none;
}
body {
  color: $color-background;
  font-size: 14px;
  font-family: $font-main;
  width: 1600px;
  margin: 0 auto;
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.sec_one {
  margin: 94px auto;
}

.content_first {
  margin-bottom: 94px;
}

.list_content_first {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  li {
    width: 270px;
  }
}

.icon-vector {
  margin-bottom: 30px;
}

.content_first_tittle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.content_first_text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.content_second_tittle {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 55px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.images__block {
  position: relative;
}

.images_content_second {
  width: 370px;
  display: block;
}

.darkSquare {
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  p {
    color: $color-white;
    font-family: $font-main;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
  }
}